<div class="container-fluid">
	<h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
		<span class="bg-secondary pr-3">Sources</span>
	</h2>
	<div class="row px-xl-5">
		<div class="col-lg-3 mb-5">
			<div class="contact-form bg-light p-30">
				<h4>Inspiration du site</h4>
				<ul>
					<li><a target="_blank" href="https://keychron.com/">Keychron</a></li>
					<li><a target="_blank" href="https://drop.com/">Drop</a></li>
					<li><a target="_blank" href="https://www.gloriousgaming.com/">Glorious</a></li>
					<li><a target="_blank" href="https://amazon.com/">Amazon</a></li>
					<li><a target="_blank" href="https://www.newegg.ca/">NewEgg</a></li>
				</ul>
			</div>
		</div>
		<div class="col-lg-9 mb-5">
			<div class="contact-form bg-light p-30">
				<p>Les images des produits présent sur ce site sont des images d'article sur les sites cité à gauche.</p>
				<p>Un certain template a été utilisé pour se site. Toutefois, tout les droits sont réservé &copy;</p>
				<p>Désigner par HTML Codex</p>
			</div>
		</div>
	</div>

</div>
