CREATE TABLE categories (idCategorie INT AUTO_INCREMENT NOT NULL, categorie VARCHAR(64) NOT NULL, PRIMARY KEY(idCategorie)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE produits (categorie INT DEFAULT NULL, idProduit INT AUTO_INCREMENT NOT NULL, name VARCHAR(128) NOT NULL, price DOUBLE PRECISION NOT NULL, quantity_in_stock INT NOT NULL, description VARCHAR(1024) NOT NULL, image_path VARCHAR(255) NOT NULL, INDEX IDX_BE2DDF8C497DD634 (categorie), PRIMARY KEY(idProduit)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
CREATE TABLE messenger_messages (id BIGINT AUTO_INCREMENT NOT NULL, body LONGTEXT NOT NULL, headers LONGTEXT NOT NULL, queue_name VARCHAR(190) NOT NULL, created_at DATETIME NOT NULL, available_at DATETIME NOT NULL, delivered_at DATETIME DEFAULT NULL, INDEX IDX_75EA56E0FB7336F0 (queue_name), INDEX IDX_75EA56E0E3BD61CE (available_at), INDEX IDX_75EA56E016BA31DB (delivered_at), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
ALTER TABLE produits ADD CONSTRAINT FK_BE2DDF8C497DD634 FOREIGN KEY (categorie) REFERENCES categories (idCategorie);
