<div class="container-fluid bg-dark text-secondary mt-5 pt-5">
	<div class="row px-xl-5 pt-5">
		<div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
			<h5 class="text-secondary text-uppercase mb-4">Entrer en contact avec nous!</h5>
			<p class="mb-4">
				N'hésité pas a entrer en contact avec nous dans la section contacter ou appeler au numéro.
			</p>
			<p class="mb-2">
				<i class="fa fa-map-marker-alt text-primary mr-3"></i>Rue sauriol, Québec, CANADA
			</p>
			<p class="mb-2">
				<i class="fa fa-envelope text-primary mr-3"></i>willy8erg@gmail.com</p>
			<p class="mb-0">
				<i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
		</div>
		<div class="col-lg-8 col-md-12">
			<div class="row">
				<div class="col-md-4 mb-5">
					<h5 class="text-secondary text-uppercase mb-4">Achat</h5>
					<div class="d-flex flex-column justify-content-start">
						<a class="text-secondary mb-2" href="/home">
							<i class="fa fa-angle-right mr-2"></i>Acceuil</a>
						<a class="text-secondary mb-2" href="/contact">
							<i class="fa fa-angle-right mr-2"></i>Contact</a>
						<a class="text-secondary mb-2" href="{{path("app_catalogue")}}">
							<i class="fa fa-angle-right mr-2"></i>Shop</a>
						<a class="text-secondary mb-2" href="#">
							<i class="fa fa-angle-right mr-2"></i>Panier</a>
					</div>
				</div>
				<div class="col-md-4 mb-5">
					<h5 class="text-secondary text-uppercase mb-4">Mon compte</h5>
					<div class="d-flex flex-column justify-content-start">
						<a class="text-secondary mb-2" href="#">
							<i class="fa fa-angle-right mr-2"></i>Paramètre</a>
						<a class="text-secondary mb-2" href="#">
							<i class="fa fa-angle-right mr-2"></i>Commande</a>
					</div>
				</div>
				<div class="col-md-4 mb-5">
					<h5 class="text-secondary text-uppercase mb-4">Infolettre</h5>
					<p>Inscriver vous a l'infolettre pour des coupons rabais</p>
					<form action="">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Adresse email">
							<div class="input-group-append">
								<button class="btn btn-primary">S'inscrire</button>
							</div>
						</div>
					</form>
					<h6 class="text-secondary text-uppercase mt-4 mb-3">Suivez nous</h6>
					<div class="d-flex">
						<a class="btn btn-primary btn-square mr-2" href="#">
							<i class="fab fa-twitter"></i>
						</a>
						<a class="btn btn-primary btn-square mr-2" href="#">
							<i class="fab fa-facebook-f"></i>
						</a>
						<a class="btn btn-primary btn-square mr-2" href="#">
							<i class="fab fa-linkedin-in"></i>
						</a>
						<a class="btn btn-primary btn-square" href="#">
							<i class="fab fa-instagram"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
		<div class="col-md-6 px-xl-0">
			<p class="mb-md-0 text-center text-md-left text-secondary">
				&copy;
				<a class="text-primary" href="#">Domain</a>. Tout droit réservé. Désigner par
				<a class="text-primary" href="https://htmlcodex.com">HTML Codex</a>
			</p>
		</div>
		<div class="col-md-6 px-xl-0 text-center text-md-right">
			<img class="img-fluid" src="img/payments.png" alt="">
		</div>
	</div>
</div>
