<div class="container-fluid py-5">
	<div class="row px-xl-5">
		<div class="col">
			<div class="owl-carousel vendor-carousel">
				<div class="bg-light p-4">
					<img src="img/cherry_logo.png" alt="">
				</div>
				<div class="bg-light p-4">
					<img src="img/Kailh_logo.jpg" alt="">
				</div>
				<div class="bg-light p-4">
					<img src="img/glorious_logo.png" alt="">
				</div>
				<div class="bg-light p-4">
					<img src="img/keychron_logo.jpg" alt="">
				</div>
				<div class="bg-light p-4">
					<img src="img/drop_logo.png" alt="">
				</div>
				<div class="bg-light p-4">
					<img src="img/vendor-6.jpg" alt="">
				</div>
				<div class="bg-light p-4">
					<img src="img/vendor-7.jpg" alt="">
				</div>
				<div class="bg-light p-4">
					<img src="img/vendor-8.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
</div>
