<div class="container-fluid">
	<div class="row px-xl-5">
		<div class="col-12">
			<nav class="breadcrumb bg-light mb-30">
				<a class="breadcrumb-item text-dark" href="#">Home</a>
				<a class="breadcrumb-item text-dark" href="#">Shop</a>
				<a class="breadcrumb-item text-dark" href="#">Panier</a>
				<span class="breadcrumb-item active">Commande</span>
			</nav>
		</div>
	</div>
</div>
