{% extends 'core/base.html.twig' %}

{% block body %}
	<!--Top bar avec les numéro pour contacter-->
	{% include 'core/topbar.html.twig' %}
	{% include 'core/navbar.html.twig' %}
	{% include 'core/path.html.twig' %}

	<!--Ajout du shop-->
	<div class="container-fluid">
		<div
			class="row px-xl-5">
			<!--Side bar Trier-->
			<div class="col-lg-3 col-md-4">
				{% include 'catalogue/filtrerCategorie.html.twig' %}
				{% include 'catalogue/filtrerPrix.html.twig' %}
			</div>

			<!--Product Viewer-->
			<div class="col-lg-9 col-md-8">
				<div class="row pb-3">
					{% for produit in produits %}
						{% include 'catalogue/produitCard.html.twig' %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>


	{% include 'core/vendor.html.twig' %}
	{% include 'core/footer.html.twig' %}
{% endblock %}
